*{
    margin: 0;
    padding: 0;
}
h1{
    background-color: aqua;
    text-align: center;
    
}
table{
    font-family: Arial;
    width: 100%;
}
th{
    background-color: rgb(243, 204, 97);
}
table,td{
    border:1px solid black;
}
table:hover{
    background-color: rgb(226, 113, 241);
}
table,td{
    border: 2px solid gold;
}